{% extends "base.twig" %}

{% block title %}Adduser{% endblock %}

{% block main %}
<h2>{% if user.id %}Modifier{% else %}Ajouter{% endif %} un utilisateur</h2>

<div class="container-fluid row">
    <div class="col-md-4">
        <form class="" action="" method='POST' enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.firstname}}"/>
                    <span id="missFirstname"></span>
                </div>
                <div class="form-group col-sm-auto">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{user.name}}"/>
                    <span id="missName"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-auto">
                    <label for="annee_naiss">Année de naissance</label>
                    <input type="text" class="form-control" maxlength="4" id="annee_naiss" name="annee_naiss" value="{{user.annee_naiss}}"/>
                    <span id="missAnnee"></span>
                </div>
                <div class="form-check-inline col-sm-auto">
                    <input class="form-check-input" type="radio" id="masculin" name="sexe" value="masculin" {% if user.sexe == "masculin" or user.sexe == null %}checked{% endif %}/>
                    <label class="form-check-label" for="masculin">Masculin</label>
                </div>
                <div class="form-check-inline col-sm-auto">
                    <input class="form-check-input" type="radio" id="feminin" name="sexe" value="féminin" {% if user.sexe == "féminin" %} checked {% endif %}/>
                    <label class="form-check-label" for="feminin">Féminin</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <label for="Categorie">Catégorie</label>
                    <select class="form-control" id="categorie" name="categorie">
                        <option value="0" selected>...</option>
                        {% for cat in categorie %}
                            <option value="{{cat.id}}" {% if user.categorie_id == cat.id %}selected{% endif %}>{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <span id="missCategorie"></span>
                </div>
            </div>
            <a class="btn btn-secondary" href="/userstab">Annuler</a>
            <button id="adduserSubmit" type="submit" class="btn btn-primary">{% if user.id %}Modifier{% else %}Ajouter{% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../assets/js/adduserForm.js"></script
{% endblock %}