{% extends "base.twig" %}

{% block title %} Index {% endblock %}

{% block main %}
<div class="container-fluid row">
    <div class="col-md-auto">
        <h2>Accueil</h2>
        <a type="button" class="btn btn-primary" href="#" OnClick="javascript:window.print()">Imprimer</a>
        <p></p>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Sexe</th>
                    <th>Année</th>
                    <th>2400m</th>
                    <th>natation</th>
                    <th>pompes</th>
                    <th>Marche course</th>
                    <th>Tir</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.sexe}}</td>
                    {% for nt in notes %}
                    {% if nt.user_id == user.id %}
                    <td>{{nt.date}}</td>
                    <td>{{nt.2400}}{% if nt.2400 != "N/A" %}/20{% endif %}</td>
                    <td>{{nt.natation}}{% if nt.natation != "N/A" %}/20{% endif %}</td>
                    <td>{{nt.pompe}}{% if nt.pompe != "N/A" %}/20{% endif %}</td>
                    <td>{{nt.marcheCourse}}{% if nt.marcheCourse != "N/A" %}/20{% endif %}</td>
                    <td>N/A</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="#" OnClick="javascript:window.print()">Imprimer</a>
    </div>
</div>

{% endblock %}