{% extends "base.twig" %}

{% block title %}Notation{% endblock %}

{% block main %}
<h1 class="title">{% if notation %}Modifier{% else %}Ajouter{% endif %} une évaluation pour {{user.firstname}} {{user.name}}</h1>
<div class="container-fluid row">
    <h2 class="title">Consignes</h2>
</div>
<div class="container-fluid">
    <p>Pour remplir ce formulaire, veuillez entrer les minutes et les secondes séparéees par un point, par
        exemple: 2min36sec ou 2'36'' = 2.36 .</p>
    <p>Pour la natation, veuillez selectionner une valeur égale ou supérieure à celle du résultat obtenu.</p>
    <p>Si pour une raison quelconque l'épreuve n'a pas été effctuée, veuillez mettre la valeur -1</p>
</div>

<div class="container-fluid row">
    <div class="col-lg-auto">   
        <form form class="" action="" method='POST' enctype="multipart/form-data">
        
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="tps_2400">temps 2400</label>
                    <input maxlength="5" type="text" class="form-control" id="tps_2400" name="tps_2400" value="{{notation.tps_2400}}"/>
                    <span id="missTps_2400"></span>
                </div>
                {% if user.sexe == "masculin" %}
                <div class="form-group col-sm-6">
                    <label for="tps_natation">temps natation</label>
                    <select class="form-control" id="tps_natation" name="tps_natation">
                        <option value="0">...</option>
                        <option value="-1">-1</option>
                        {% for nt in natationh %}
                            <option value="{{nt.temps}}"{% if nt.temps == notation.tps_natation %}selected{% endif %}>{{nt.temps}}</option>
                        {% endfor %}
                    </select>
                    <span id="missTps_natation"></span>
                </div>
                {% else %}
                <div class="form-group col-sm-6">
                    <label for="tps_natation">temps natation</label>
                    <select class="form-control" id="tps_natation" name="tps_natation">
                        <option value="0">...</option>
                        <option value="-1">-1</option>
                        {% for nt in natationf %}
                            <option value="{{nt.temps}}" {% if nt.temps == notation.tps_natation %}selected{% endif %}>{{nt.temps}} </option>
                        {% endfor %}
                    </select>
                    <span id="missTps_natation"></span>
                </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="nb_pompe">Nombres de pompes</label>
                    <input maxlength="3" type="text" class="form-control" id="nb_pompe" name="nb_pompe" value="{{notation.nb_pompe}}"/>
                    <span id="missNb_pompe"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label for="tps_marche_course">Temps marche course</label>
                    <input maxlength="5" type="text" class="form-control" id="tps_marche_course" name="tps_marche_course" value="{{notation.tps_marche_course}}"/>
                    <span id="missTps_marche_course"></span>
                </div>
            </div>
            <a class="btn btn-secondary" href="/profile/{{user.id}}">Annuler</a>
            <button id="addnotationSubmit" type="submit" class="btn btn-primary">{% if notation.id %}Modifier{% else %}Ajouter{% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}



{% block script %}
<script src="../assets/js/notationForm.js"></script>
<script src="../../assets/js/notationForm.js"></script>
{% endblock %}